@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {
    background-color: #00669f;
    color: white;
    align-items: center;


}

.desconto {
    background-color: #1cd1b0;
    color: black;

}

.desconto {
    display: flex;
    margin-left: 0px;

}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 75px;
    margin: 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10.5% auto 10.5%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.user {
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
}

.password {
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
}

.entry {
    width: 400px;
    height: 30px;
    border-radius: 50px;
    border-style: none;
    background-color: #1cd1b0;
}

.account-register {
    margin-top: 10px;
    font-weight: 600px;
}

.link-register {
    color: #00669f;
    font-style: under;
    text-decoration: none;
}

footer {
    display: flex;
    background-color: #00669f;
    color: white;
    justify-content: center;
    height: 60px;

}

.text-footer {
    display: flex;
    font-size: 10px;
    align-items: center;
}